* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.output {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: rgba(79, 77, 77, 0.815);
}

.modal-content {
  width: 50%;
  margin: 5vh auto;
  background-color: white;
}

.modal-content .modal-header {
  background-color: #38c68d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em .7em;
}

.modal-content .modal-header h3 {
  color: wheat;
  font-weight: lighter;
}

.modal-content .modal-header .close-btn {
  margin-left: auto;
  cursor: pointer;
}

.modal-content form {
  padding: 1em .4em;
}

.modal-content form input {
  width: 100%;
  padding: .5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #38c68d;
}

.modal-content form .submit {
  width: 100%;
  padding: .2em;
  border: 3px solid #38c68d;
  background-color: #38c68d;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
}

.modal-content .modal-footer {
  background-color: #38c68d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em .4em;
}

.modal-content .already {
  color: #f1c675;
  font-weight: lighter;
  margin: 0 9em;
}

.modal-content .sign-btn {
  cursor: pointer;
  color: white;
  margin: 0 1em;
}

.mobile-hidden {
  display: none;
}

.upload {
  display: block;
}

a {
  text-decoration: none;
}

header {
  background: url(/images/pexels-photo-3646932.jpeg);
  background-clip: border-box;
  background-position: center;
  background-repeat: repeat-y;
  padding: .9em 1.1em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo .logo-img {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  cursor: pointer;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

ul li {
  margin: 0 1em;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  color: #38c68d;
}

.icon-white {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.nav-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 4em 0;
  z-index: 10;
}

.right-aligned {
  margin: .3em 0 0 65vw;
}

.notification {
  margin: 0 .6em;
}

.nav-right-aligned {
  margin: .6em 0 0 .2em;
}

.nav-notification {
  margin: 0 .4em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #292727;
  background-color: black;
  padding: .9em 1.1em;
}

.nav-input-container {
  width: 70%;
  background-color: white;
  border-radius: 8px;
  margin: .1em 1em;
  height: 2.2em;
}

.nav-input-container .nav-input {
  height: 2.2em;
  margin: .1em 0em;
  width: 80%;
  background-color: white;
  padding: 1em;
  color: green;
  font-size: .9rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 8px;
}

.nav-input-container .nav-search {
  margin-left: auto;
  color: gray;
  font-size: 1.2rem;
}

.brief {
  width: 100%;
  margin: 6em auto 7em auto;
}

.brief .brief-heading {
  font-size: 2.4rem;
  color: white;
}

.brief .input-container {
  width: 100%;
  background-color: white;
  padding: .3em;
  border-radius: 8px;
  margin: 1em 0;
}

.brief .input-container .brief-input {
  padding: 1em .8em;
  width: 90%;
  background-color: white;
  font-size: .9rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}

.brief .input-container .brief-search {
  margin-left: auto;
  color: gray;
  font-size: 1.5rem;
}

.brief .brief-paragraph {
  color: rgba(175, 170, 170, 0.798);
  font-size: .9rem;
}

.content {
  margin: 1em;
}

.inner-links {
  width: 98%;
  margin: 2em auto;
}

.inner-links a {
  color: gray;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 .5em;
}

.inner-links a:hover {
  color: black;
}

.inner-links a:focus {
  color: white;
  padding: .8em 1.3em;
  background-color: black;
  border-radius: 9999px;
}

.inner-links .home:focus {
  color: white;
  padding: .8em 1.3em;
  background-color: black;
  border-radius: 9999px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .left-intro {
  font-size: 1.15rem;
  color: rgba(22, 22, 22, 0.97);
}

.intro .right-intro {
  font-size: .85rem;
  margin-left: auto;
}

.intro .right-intro a {
  color: rgba(22, 22, 22, 0.97);
}

.intro .right-intro a:hover {
  color: rgba(10, 75, 216, 0.951);
}

@media screen and (min-width: 530px) {
  .brief {
    margin: 8em auto 7em auto;
  }
  .right-aligned {
    margin: .3em 0 0 58vw;
  }
  .inner-links {
    width: 80%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 680px) {
  .brief {
    width: 100%;
  }
  .brief .brief-heading {
    font-size: 2.2rem;
  }
  .right-aligned {
    margin: .3em 0 0 63vw;
  }
  .inner-links {
    width: 90%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 700px) {
  .brief .brief-heading {
    font-size: 2.15rem;
    color: white;
  }
  .inner-links {
    width: 100%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 720px) {
  .brief {
    width: 95%;
    margin: 7em auto;
  }
  .right-aligned {
    margin: .3em 0 0 70vw;
  }
  .inner-links {
    width: 60%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 750px) {
  .brief {
    width: 90%;
  }
}

@media screen and (min-width: 770px) {
  .brief {
    width: 85%;
  }
  .inner-links {
    width: 60%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 850px) {
  .middle-hidden {
    display: none;
  }
  .middle-reveal {
    display: inline;
    color: white;
  }
  .ridwan-list {
    margin-right: -.3em;
  }
  header {
    background-position: unset;
    background-repeat: no-repeat;
  }
  .ridwan {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -.2em;
  }
  .upload {
    padding: .65em 1.7em;
    background-color: #38c68d;
    border-radius: 5%;
  }
  .upload:hover {
    background-color: #fff;
    font-weight: bolder;
  }
  .right-aligned {
    margin: .3em 0 0 60vw;
  }
  .brief {
    width: 80%;
    margin: 7.5em auto 9em auto;
  }
  .brief .brief-input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
  }
  .inner-links {
    width: 60%;
    margin: 3em auto;
  }
  #open-btn {
    display: none;
  }
  .suggested {
    display: unset;
    color: white;
  }
}

@media screen and (min-width: 1000px) {
  .desktop-hidden {
    display: none;
  }
  .desktop-reveal {
    display: inline;
    color: white;
  }
  #open-btn {
    display: none;
  }
  header {
    background-position: unset;
    background-repeat: no-repeat;
  }
  .logo-text {
    margin: .5em;
    color: white;
    font-weight: lighter;
    cursor: pointer;
  }
  ul li {
    margin: 0 1em;
  }
  .right-aligned {
    margin: .3em 0 0 40vw;
  }
  .brief {
    width: 50%;
    margin: 7.5em auto 9em auto;
  }
  .brief-paragraph {
    color: #ede6e6;
  }
  .content {
    margin: 1em 2em;
  }
  .inner-links {
    width: 60%;
    margin: 2em auto;
  }
  .inner-links a {
    font-size: 1.1rem;
    margin: 0 1em;
    font-weight: lighter;
  }
}

@media screen and (min-width: 1100px) {
  .right-aligned {
    margin: .3em 0 0 45vw;
  }
}

@media screen and (min-width: 1200px) {
  .right-aligned {
    margin: .3em 0 0 50vw;
  }
  .inner-links {
    width: 50%;
    margin: 2em auto;
  }
}

.error {
  color: red;
  font-weight: lighter;
  font-size: .9rem;
}

.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.background-nav {
  background-color: #212020;
  padding: 1em 3.7em 1em 2.7em;
  margin-top: -1em;
  margin-left: -1.2em;
}
/*# sourceMappingURL=main.css.map */